SUPABASE_URL=https://rjpqvkzamzqwviyfhbms.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqcHF2a3phbXpxd3ZpeWZoYm1zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc2NTU4NzMsImV4cCI6MjA2MzIzMTg3M30.ST3WZ4iAhHq4vwINid2dVpsR5YJYaqB-Ug4nQQGqQQg
LIVEKIT_URL=wss://chatapp-su653f44.livekit.cloud
LIVEKIT_API_KEY=APIaLFxJpqXZ7Ss
LIVEKIT_API_SECRET=zyDP1gqu3lzVR8lM5rtvyK1bnkrQc5armd34JgSvBBD
